.block{
    display: flex;
    /* grid-template-rows: repeat(3, 1fr); */
    font-size: 2rem;
    font-family: "Gill Sans MT",monospace;
    text-align: center;
    background-color: rgb(98, 131, 131);
    color: rgb(11, 18, 24);
    height: 100%;
    width: 100%;
    position: fixed;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 4rem;
}

.first{
    height:20%;
}
.second{
    height: 20%;
    
}
.third{
    height: 20%;
}
.nishant{
    text-decoration: none;
    font-size: 2.5rem;
    transition: all .3s;
    color: blue;
    position: relative;
}
.nishant:hover{
    color: whitesmoke;
}