.container{
    width:14rem;
    height:16rem;
    /* background-color: blue; */
    overflow: hidden;
    cursor: pointer;
}
.first{
    /* background-color: pink; */
    height: 50%;
    animation: slider_after .4s ;
}

.second{
    /* background-color: blue; */
    text-align: center;
    height: 50%;
    animation: slider2_after .4s ;
}
.color{
    height: 50%;
    /* background-color: rgb(138, 100, 65); */
}

.text{
    height:50%;
    margin: auto;
    transition: all .5s;
    z-index:999;
    padding-top: 2rem;
    font-family: 'Candara', sans-serif;
    animation: slider3_after .4s ;
    font-size: 1.1rem;
    font-weight: 600;
}
.container:hover .text{
    animation: slider3 .4s ;
    /* margin-top:-3rem; */
    animation-fill-mode: forwards;
}
.container:hover .second{
    animation: slider2 .4s ;
    animation-fill-mode: forwards;
}
.container:hover .first{
    animation: slider .4s ;
    animation-fill-mode: forwards;
}

@keyframes slider {
    0%{
        height: 50%;
    }
    /* 50%{
        height: 75%;
    } */
    100%{
        height:100%
    }
}
@keyframes slider2 {
    0%{
        height: 50%;
    }
    /* 50%{
        height: 25%;
    } */
    100%{
        height:0%
    }
}
@keyframes slider3 {
    0%{
        margin-top:0rem;
    }
    /* 50%{
        height: 25%;
    } */
    100%{
        margin-top:-10rem;
        /* height:0% */
    }
}
@keyframes slider_after {
    0%{
        height:100%
    }
    /* 50%{
        height: 75%;
    } */
    100%{
        height: 50%;
    }
}
@keyframes slider2_after {
    0%{
        height:0%
    }
    /* 50%{
        height: 25%;
    } */
    100%{
        height: 50%;
    }
}
@keyframes slider3_after {
    0%{
        margin-top:-10rem;
    }
    /* 50%{
        height: 25%;
    } */
    100%{
        margin-top:0rem;
        /* height:0% */
    }
}